.products-container {
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
}

.products-title {
  font-size: 32px;
  color: var(--text-color); 
  margin-bottom: 20px;
}

.carousel-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  width: 100%;
  padding: 20px 0;
  background-color: var(--background-color); 
}

.carousel {
  display: inline-flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
  white-space: nowrap;
}

.carousel > div {
  scroll-snap-align: start;
  flex-shrink: 0;
}

.product-card {
  min-width: 250px;
  max-width: 300px;
  flex-shrink: 0 0 auto;
  background-color: var(--card-background-color); 
  border: 1px solid var(--card-border-color); 
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
